<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <!--    规则文件-->
    <script src="rule.js"></script>
    <title>动物识别系统</title>
</head>
<body>
<div id="app" class="app">
    <h2 style="text-align: center">动物识别系统</h2>
    规则：
    <div class="rule">
        <p :key="item" v-for="item in ruleView">{{item}}</p>
    </div>
    特征：
    <div class="fact">
        <div style="display: inline" v-for="(fact,index) in [...featureView]">
            <el-button class="fact_item" plain v-on:click="addFact(index,fact)">{{fact}}</el-button>
        </div>
    </div>
    已选特征：
    <div class="select">
        <div style="display: inline" v-for="(fact,index) in selectRuleName">
            <el-button class="fact_item" plain>{{fact}}</el-button>
        </div>
    </div>
    推测结果：
    <div class="result">
        <div v-for="(animal,index) in animalName">
            <div>{{animal}}</div>
        </div>

    </div>
    <div class="button">
        <el-button type="primary" plain v-on:click="infer()">推理</el-button>
        <el-button type="primary" plain v-on:click="infer(display_all)">带过程的推理</el-button>
        <el-button type="primary" plain v-on:click="resetSelect()">重置</el-button>
    </div>
    <el-dialog title="增加规则" :visible.sync="dialogVisible">
        
        <div>
           
            条件(默认为空):
            <div class="input-size">
                <div class="item-input-size">
                    <el-input

                            placeholder="请输入内容"
                            v-model="input1">
                    </el-input>
                </div>
                <div class="item-input-size">
                    <el-input

                            placeholder="请输入内容"
                            v-model="input2">
                    </el-input>
                </div>
                <div class="item-input-size">
                    <el-input

                            placeholder="请输入内容"
                            v-model="input3">
                    </el-input>
                </div>
                <div class="item-input-size">
                    <el-input

                            placeholder="请输入内容"
                            v-model="input4">
                    </el-input>
                </div>
                <div class="item-input-size">
                    <el-input

                            placeholder="请输入内容"
                            v-model="input5">
                    </el-input>
                </div>
            </div>
            <div>
                结果：
                <el-input
                        placeholder="请输入内容"
                        v-model="input0">
                </el-input>
            </div>
        </div>
        <div class="button">
            <el-button style="width: 100%" type="primary" v-on:click="addRule()">确认添加</el-button>
        </div>
    </el-dialog>
    <el-backtop visibility-height="0" v-on:click="openDialog()"><i class="el-icon-plus"/></el-backtop>
</div>
</body>
<script>
    new Vue({
        el: '#app',
        data() {
            // 数据
            return {
                dialogVisible: false,
                // 显示用于提供选择的特征
                featureView:[],
                
                rule: new Map(),
                ruleView:[],
                // 在上方已经选中的动物特征表
                selectRuleName: [], 
                selectRule: [],
                animalName: [],
                display_all:true,
                input0: "",
                input1: '',
                input2: '',
                input3: '',
                input4: '',
                input5: '',
                ruleChange:false
            }
        },
        watch: {
            dialogVisible: function (newval,oldval){
                this.input0 =  "";
                this.input1 =  '';
                this.input2 =  '';
                this.input3 =  '';
                this.input4 =  '';
                this.input5 =  '';
            }
        },
        // 加载初始数据
        created(){ 
            this.setRule()
            this.readFeature();
            this.initRuleView();
        },
        methods: {
            initRuleView: function () {
                const ruleArr = [];
                this.rule.forEach((val,key) => {
                    let topush = [...key.slice(),val];
                    ruleArr.push(topush);
                })
                this.ruleView = ruleArr.map((val,index) => {
                    let p = val.slice(0,val.length-1);
                    let q = val[val.length-1];
                    return `R${index} IF 该动物${p.join(' AND ')} THEN 该动物是${q}`
                })
            },
            setRule: function() {
                const {rule} = this;
                animals.forEach(val => {
                    let key = val.slice(0,val.length-1);
                    let value = val[val.length-1];
                    rule.set(key,value);
                })
            },
            readFeature:function() {
                const {rule} = this;
                let temp = new Set();
                animals.forEach((val) => {
                    // 截取最后一个之前的元素
                    let toadd = val.slice(0,val.length-1);
                    
                    toadd.forEach(val => temp.add(val))
                })
                this.featureView = Array.from(temp);
            },
            changeFeature:function(toadd) {
                // toadd 为arr
                let temp = new Set(this.featureView);
                toadd.forEach(val => {
                    if(val !== "" ) {
                        temp.add(val);
                    }
                })
                this.featureView = Array.from(temp);
            },
            // 添加选中特征
            addFact: function (index, name) {
               const {selectRuleName} = this;
               let temp = new Set(selectRuleName);
               temp.add(name);
               this.selectRuleName = Array.from(temp);
            },
            openDialog: function () {
                this.dialogVisible = true;
            },
           
            resetSelect: function () {
                this.selectRuleName = [];
                this.selectRule = [];
                this.animalName = []
            },
            addRule: function () {
                let newRule = [];
                // newRule.push(this.input0);
                newRule.push(this.input1);
                newRule.push(this.input2);
                newRule.push(this.input3);
                newRule.push(this.input4);
                newRule.push(this.input5);
                let key = Array.from(new Set(newRule.filter(val => val !== "")));
                // 浅拷贝，避免数据出错
                this.rule.set(key,this.input0);

                this.$message({
                    message: '添加成功！',
                    type: 'success'
                });

                this.dialogVisible = false;
                // 刷新其他数据
                this.changeFeature(newRule) 
                this.initRuleView();
                console.log(this.rule)
            },
            // 推理机
            infer: function (display = false) {
                // 存储推理结果的数组
                let result = [];
                // set.has 时间复杂度为1
                let list = new Set(this.selectRuleName);
                let rule = this.rule;
                let flag = false;
                //结果字符串
                let process = '';

                
                rule.forEach((val,key) => {
                    // console.log(key)
                    if (this.listInSet(key, list)) {
                        // 添加推导出的结果
                        console.log(rule.get(key))
                        list.add(rule.get(key));
                        result.push(rule.get(key));
                        // 记录推理过程
                        process += `${key} 推导出 ${rule.get(key)}\n`;
                        flag = true;
                    }
                })
                
                // console.log(result)
                // 根据flag返回推理结果或无法推出的信息
                if (flag) {
                    if (display) {
                        let temp=  `${process} \n 最终推出: ${result[result.length - 1]}  `;
                        this.animalName = temp.split('\n');
                    } else {
                        let out = ` 最终推出: ${result[result.length - 1]}`;
                        this.animalName = [out];
                    }
                } else {
                    this.animalName = ['无法推出'];;
                }
            },
            listInSet: function (list, set) {
                 return list.every(element => set.has(element));
            }

        }

    })
</script>
<style>
    .app {
        margin: auto;
        padding: 5px 15px 15px 15px;
        width: 60%;
        box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1)
    }

    .rule {
        margin: 10px auto;
        margin-bottom: 20px;
        height: 700px;
        padding: 0 30px;
        overflow-y: scroll;
    }

    .fact {
        margin: auto;
        padding: 0 30px;
    }

    .fact_item {
        margin: 5px;
    }

    .select {
        padding: 0 30px;
        text-align: center;;
    }

    .result {
        margin: auto;
        padding: 0 30px;
        text-align: center;;
    }

    .button {
        width: 300px;
        margin: auto;
        padding-top: 20px;
        padding-bottom: 30px;
    }

    .input-size {
        margin: 5px auto;
    }

    .item-input-size {
        margin: 5px auto;
        width: 19%;
        display: inline-block;
    }

</style>
</html>